/* ===============================
   PRODUCTS CONTAINER
   =============================== */

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1450px;
  margin: 50px auto;
  gap: 30px;
  justify-items: center;
}

/* ===============================
   PRODUCT CARD
   =============================== */

.card__container {
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: white;
  position: relative;

  display: flex;
  flex-direction: column;
}

/* ===============================
   IMAGE
   =============================== */

.card__container img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* ===============================
   RATING
   =============================== */

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ===============================
   BUTTON
   =============================== */

.button {
  display: none;
  width: 100%;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 30px;

  position: absolute;
  bottom: 10px;
  left: 0;
}

.card__container:hover .button {
  display: block;
}
